.container {
  display: flex;
  width: 100%;
}

.navbar {
  flex: 1;
  color: #000;
  padding: 10px;
}

.docstab {
  flex: 3;
  background-color: red;
  color: white;
  padding: 10px;
}

.navbarItems {
  display: flex;
  flex-direction: column;
}

.navbarItem {
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.navbarItem:hover {
  background-color: lightgray;
}
